<form ng-submit="addMovie()">
          
        <div class="single-movie">
          <label>Tytuł:</label>
          <input type="text" class="movie-input" ng-model="movie.title">
        </div>  
          
        <div class="single-movie">
          <label>Opis:</label>
          <input type="text" class="movie-input" ng-model="movie.description">
        </div>
          
        <div class="single-movie">
          <label>Reżyser:</label>
          <input type="text" class="movie-input" ng-model="movie.director">
        </div>
    
        <div class="single-movie">
          <label>Scenarzysta:</label>
          <input type="text" class="movie-input" ng-model="movie.screenwriter">
        </div>
    
        <div class="single-movie">
          <label>Rok:</label>
          <input type="text" class="movie-input" ng-model="movie.year">
        </div>
    
         <div class="single-movie">
          <label>Gatunek:</label>
          <input type="text" class="movie-input" ng-model="movie.genre">
        </div>
    
         <div class="single-movie">
          <label>Ocena:</label>
          <input type="text" class="movie-input" ng-model="movie.rate">
        </div>
        
        <div class="add-button">
        <button type="submit" >DODAJ</button>
        </div>
    
      </form>
          
    </div>
    </div>
  </div>
</div>